.vacancies {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    clear: none;
}

.vacancy_name {
    float: left;
    margin-right: 15px;
}

.vacancy_description {
    clear: right;
}

.vacancy_salary {
    clear: both;
}