.article-cont {
    display: grid;
}

.article_list {
    display: block;
    width: 600px;
    max-height: 600px;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article_list p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.article_list-header {
    text-align: center;
    margin-bottom: 20px;
}

.article_list-header h1 {
    font-size: 24px;
    color: #333; /* Цвет заголовка */
}

.article_list-content {
    padding: 20px;
}

.article_list-footer {
    text-align: right;
    margin-top: 20px;
}

.article_list-footer p {
    font-style: italic;
    color: #888;
}

.article_list-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.article_list-btn:hover {
    background-color: #0056b3;
    color: #fff;
}
