{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if genre %}{{ genre.name }}{% else %}Books{% endif %}
{% endblock %}
{% block content %}
<div id="sidebar">
    <h3>Genres</h3>
    <ul>
        <li {% if not genre %}class="selected"{% endif %}>
            <a href="{% url 'shop:book_list' %}">All</a>
        </li>
        {% for c in genres %}
        <li {% if genre.name == c.name %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}" class="nav-a">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="main" class="book-list">
    <h1>{% if genre %}{{ genre.name }}{% else %}Book{% endif %}
        {% if user.is_staff %}
        <a href="/create/">Create Product</a>
        {% endif %}
        {%if user.is_superuser%}
        <a href="/statistic/">statistic</a>
        {%endif%}
        <form action="{{ request.get_full_path }}" method="get">
            <button type="submit" name="sort" value="ascending">Сортировать по возрастанию</button>
            <button type="submit" name="sort" value="descending">Сортировать по убыванию</button>
        </form>
    </h1>
    <section class="book-cont">
    {% for book in books %}
      <div class="card">
          <div class="glow">
              <a href="{{ book.get_absolute_url }}">
                  <img src="{% if book.image %}{{ book.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
              <br>
              <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
              <br>
              {{ book.cost }}
            </div>
          </div>
    {% endfor %}
    <script>
        if ("{{is_auth}}" == "False")
          localStorage.clear();

        const card = document.querySelectorAll('.card');
let bounds;

card.forEach(
$card=>{
function rotateToMouse(e) {
  const mouseX = e.clientX;
  const mouseY = e.clientY;
  const leftX = mouseX - bounds.x;
  const topY = mouseY - bounds.y;
  const center = {
    x: leftX - bounds.width / 2,
    y: topY - bounds.height / 2
  }
  const distance = Math.sqrt(center.x**2 + center.y**2);
  
  $card.style.transform = `
    scale3d(1.07, 1.07, 1.07)
    rotate3d(
      ${center.y / 100},
      ${-center.x / 100},
      0,
      ${Math.log(distance)* 2}deg
    )
  `;
  
  $card.querySelector('.glow').style.backgroundImage = `
    radial-gradient(
      circle at
      ${center.x * 2 + bounds.width/2}px
      ${center.y * 2 + bounds.height/2}px,
      #ffffff55,
      #0000000f
    )
  `;
}

$card.addEventListener('mouseenter', () => {
  bounds = $card.getBoundingClientRect();
  document.addEventListener('mousemove', rotateToMouse);
});

$card.addEventListener('mouseleave', () => {
  document.removeEventListener('mousemove', rotateToMouse);
  $card.style.transform = '';
  $card.style.background = '';
  
});
});
    </script>
</section>
</div>
{% endblock %}