<div class="navigation">
  <div class="userBx">
    <div class="imgBx">
      <img src="https://media.istockphoto.com/id/1340934609/vector/dark-metallic-carbon-texture-metal-steel-grid-background.jpg?s=612x612&w=0&k=20&c=qOd_CJ97QVBSGgplzuXQHax4dqopQmOYCveR9QvZvgA=" alt="user avatar" />
    </div>
    <p class="username">CSSScript</p>
  </div>
  <div class="menuToggle"></div>
  <ul class="menu">
    <li>
      <a href="#">Profile</a>
    </li>
    <li>
      <a href="#">Message</a
      >
    </li>
    <li>
      <a href="#">Notification</a
      >
    </li>
    <li>
      <a href="#">Settings</a>
    </li>
    <li>
      <a href="#">Help</a
      >
    </li>
    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</div>