
{% load static %}

{% block extra_head %}
<meta
    name="description"
    content="Главная страница веб-сайта" />
<meta name="keywords" content="Book, bookshop, shop">
<meta name="author" content="Denis fomichevsjiy">
<link href="{% static 'css/sandbox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal" id="ageModal">
    <div class="modal-content">
        <h2>Проверка возраста</h2>
        <p>Пожалуйста, введите вашу дату рождения:</p>
        <input type="date" id="birthdateInput">
        <button id="checkAgeButton">Проверить возраст</button>
    </div>
</div>
<script>
    document.body.style.overflow = 'hidden';
    document.addEventListener("DOMContentLoaded", function() {
    const ageModal = document.getElementById("ageModal");
    const birthdateInput = document.getElementById("birthdateInput");
    const checkAgeButton = document.getElementById("checkAgeButton");

    // Отобразить модальное окно при загрузке страницы
    ageModal.style.display = "block";

    checkAgeButton.addEventListener("click", function() {
        const birthdate = new Date(birthdateInput.value);
        const currentDate = new Date();
        const age = currentDate.getFullYear() - birthdate.getFullYear();

        if (birthdate > currentDate) {
            alert("Дата рождения не может быть в будущем.");
        } else if (age >= 18) {
            alert(`Вы совершеннолетний и можете продолжить использование сайта. День недели вашей даты рождения: ${birthdate.toLocaleString('ru-RU', { weekday: 'long' })}`);
            ageModal.style.display = "none";
            document.body.style.overflow = 'auto';
        } else {
            alert("Для использования сайта несовершеннолетним необходимо разрешение родителей.");
            //ageModal.style.display = "none";
        }
    });
});
</script>
<section id="sandbox-sect">
    <nav>
      <div class="navigation">
        <div class="userBx">
          <div class="imgBx">
            </div>
          <p class="username"><a href="/">My shop</a></p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
          <li>
            <a href="/about/">О компании</a>
          </li>
          <li>
            <a href="/faq/">Вопросы</a
            >
          </li>
          <li>
            <a href="/workers/">Наши работники</a
            >
          </li>
          <li>
            <a href="/privacy/">Политика конфеденциальности</a>
          </li>
          <li>
            <a href="/main/">Главная</a
            >
          </li>
          <li>
            <a href="/vacancies/">Вакансии</a>
          </li>
          <li>
            <a href="/coupons/">Купоны</a>
          </li>
          <li>
            <a href="/articles/">Статьи</a>
          </li>
          <li>
            <a href="/comments/">Комментарии</a>
          </li>
          <li>
            <a href="/sandbox/">Песочница</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        {%if user.is_authenticated%}
        <div id="countdown"></div>
        {%endif%}
      
      <img src="https://i.ibb.co/rsp6RFJ/bg1.png" class="background" alt="" />
      <!--<img src="/media/vietnam_forest.jpg" class="background" alt="" />-->
      <img src="https://i.ibb.co/237VsHs/girl1.png" class="girl" alt="" />
      <!--<img src="/media/vietcong.png" height="200px" width="100px" class="girl" alt="" />-->
      <img src="https://i.ibb.co/BKtjhV2/rock1.png" class="rock" alt="" />
    </div>
    <div class="content">
      <div class="content-images">
        <div>
          <img src="https://i.ibb.co/w4N157P/haridwar.jpg" alt="" />
          <h4>Haridwar</h4>
          <h3>India</h3>
        </div>
        <div>
          <img src="https://i.ibb.co/v4yCXYS/rishikesh.jpg" alt="" />
          <h4>Rishikesh</h4>
          <h3>India</h3>
        </div>
      </div>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque
        consequuntur a nisi, illo quia cupiditate fuga et eos minima
        voluptatum cum dolorum quas repellat eaque beatae vitae veritatis
        quae.
      </p>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque
        consequuntur a nisi, illo quia cupiditate fuga et eos minima
        voluptatum cum dolorum quas repellat eaque beatae vitae veritatis
        quae.
      </p>
      <div class="custom-table">
        <button onclick="transposeTable()">Транспонировать</button>
  <button onclick="addRow()">Добавить ряд</button>
  <button onclick="addColumn()">Добавить колонку</button>
  <input type="number" id="maxSelection" placeholder="Макс. выбор ячеек">
  <button onclick="setMaxSelection()">Установить макс. выбор</button>
  <table id="myTable"></table>
        </div>

    <br>
    <br>
    <br>
    Доступные детали:
    <br>
    <p id="stock"></p>
    <br>
    Введите информацию о заказе в формате "%Название детели%, %количество деталей%;"
    <form id="orderForm">
        <label for="orderInput">Информация о заказе:</label>
        <textarea id="orderInput" rows="5" cols="50"></textarea>
        <br>

        <button type="button" onclick="checkAvailability()">Проверить наличие</button>
    </form>
    <span id = "output"></span>

    <br>
    <br>
    <form id="cool-form">
        <label>
            <input type="checkbox" id="changeFontSize"> Изменить размер шрифта
        </label>
        <br>
        <div id="font-cont">
            <label for="font-size">Font size </label>
            <input type="range" id="font-size" name="font-size" min="12" max="24" step="1" />
        </div>
        <label>
            <input type="checkbox" id="changeFontColor"> Изменить цвет текста
        </label>
        <br>
        <div id="font-color-cont">
            <label for="font-color-r">Font color red </label>
            <input type="range" id="font-color-r" name="font-color-r" min="0" max="255" step="1" />
            <br>
            <label for="font-color-g">Font color red </label>
            <input type="range" id="font-color-g" name="font-color-g" min="0" max="255" step="1" />
            <br>
            <label for="font-color-b">Font color red </label>
            <input type="range" id="font-color-b" name="font-color-b" min="0" max="255" step="1" />
        </div>
        <label id="2">
            <input type="checkbox" id="changeBackgroundColor"> Изменить цвет фона
        </label>
        <br>
        <div id="bg-color">
            <label for="bg-color-r">Bg color red </label>
            <input type="range" id="bg-color-r" name="bg-color-r" min="0" max="255" step="1" />
            <br>
            <label for="bg-color-g">Bg color red </label>
            <input type="range" id="bg-color-g" name="bg-color-g" min="0" max="255" step="1" />
            <br>
            <label for="bg-color-b">Bg color red </label>
            <input type="range" id="bg-color-b" name="bg-color-b" min="0" max="255" step="1" />
        </div>
      <input type="submit">
    </form>
    <script>
        // Функция для изменения размера шрифта
var checkbox = document.getElementById("changeFontSize");
var checkbox_color = document.getElementById("changeFontColor");
var checkbox_bgcolor = document.getElementById("changeBackgroundColor");
var div = document.getElementById("font-cont");
var div_color = document.getElementById("font-color-cont");
var div_bg = document.getElementById("bg-color");

var form = document.getElementById("cool-form");

form.addEventListener("submit", (e) => {
  e.preventDefault();
  
  if (checkbox.checked) {
    var all = document.getElementsByTagName("*");

    for (var i=0, max=all.length; i < max; i++) {
        all[i].style.fontSize = document.getElementById("font-size").value + "px";
    }
  }
  
  if (checkbox_color.checked) {
    let r = parseInt(document.getElementById("font-color-r").value);
    let g = parseInt(document.getElementById("font-color-g").value);
    let b = parseInt(document.getElementById("font-color-b").value);
    var all = document.getElementsByTagName("*");

    for (var i=0, max=all.length; i < max; i++) {
        all[i].style.color = `rgb(${r}, ${g}, ${b})`;
    }
  }
  
  if (checkbox_bgcolor.checked) {
    let r = parseInt(document.getElementById("bg-color-r").value);
    let g = parseInt(document.getElementById("bg-color-g").value);
    let b = parseInt(document.getElementById("bg-color-b").value);
    
    document.getElementsByClassName("content")[0].style.backgroundColor = `rgb(${r}, ${g}, ${b})`;

    /*var all = document.getElementsByTagName("*");

    for (var i=0, max=all.length; i < max; i++) {
        all[i].style.backgroundColor = `rgb(${r}, ${g}, ${b})`;
    }*/
  }
})

// Add an event listener to the checkbox
checkbox.addEventListener("change", function() {
  if (checkbox.checked) {
    div.style.display = "block";
  } else {
    div.style.display = "none";
  }
});

checkbox_bgcolor.addEventListener("change", function() {
  if (checkbox_bgcolor.checked) {
    div_bg.style.display = "block";
  } else {
    div_bg.style.display = "none";
  }
});

checkbox_color.addEventListener("change", function() {
  if (checkbox_color.checked) {
    div_color.style.display = "block";
  } else {
    div_color.style.display = "none";
  }
});

    </script>
  </section>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
    <script src="{% static 'js/sandbox.js' %}"></script>

    <script>
        const table = document.getElementById("myTable");
let maxSelection = 1;
let selectedCells = new Set();

// Генерация случайного числа от 1 до 10
function getRandomNumber() {
  return Math.floor(Math.random() * 10) + 1;
}

// Генерация случайной квадратной таблицы
function generateTable(size) {
  table.innerHTML = "";
  selectedCells.clear();
  for (let i = 0; i < size; i++) {
    const row = table.insertRow(i);
    for (let j = 0; j < size; j++) {
      const cell = row.insertCell(j);
      cell.innerText = getRandomNumber();
      cell.addEventListener("click", () => toggleCellSelection(cell));
    }
  }
}

// Транспонирование таблицы
function transposeTable() {
  const rows = table.rows;
  const columns = [];
  for (let i = 0; i < rows[0].cells.length; i++) {
    columns.push(Array.from({ length: rows.length }, (_, j) => rows[j].cells[i]));
  }
  table.innerHTML = "";
  for (const column of columns) {
    const row = table.insertRow();
    for (const cell of column) {
      row.appendChild(cell.cloneNode(true));
    }
  }

  var rowss = table.getElementsByTagName("tr");
    

  for (let i = 0; i < rowss.length; i++) {
    var _cells = rowss[i].getElementsByTagName("td");
    for (let j = 0; j < _cells.length; j++) {
        table.getElementsByTagName("tr")[i].getElementsByTagName("td")[j].addEventListener("click", () => toggleCellSelection(table.getElementsByTagName("tr")[i].getElementsByTagName("td")[j]));
        
    }
  }
}

// Выделение ячейки
function toggleCellSelection(cell) {
  const value = parseInt(cell.innerText, 10);
  console.log(cell.classList)
  if (!cell.classList.contains("selected") && !cell.classList.contains("selected-even")) {
    if (canSelectCell(cell)) {
        if (value % 2 == 0) {
            cell.classList.add("selected-even");
        } else {
            cell.classList.add("selected");
        }
        selectedCells.add(cell);
    }
  } else if (cell.classList.contains("selected") || cell.classList.contains("selected-even")) {
    console.log("jopa");
    if (value % 2 == 0) {
      cell.classList.remove("selected-even");
    } else {
        cell.classList.remove("selected");
    }
    selectedCells.delete(cell);
  }
}

// Проверка, можно ли выделить ячейку

function canSelectCell(cell) {

  const rowIndex = cell.parentNode.rowIndex;
  const cellIndex = cell.cellIndex;

  const row = cell.parentNode;
  const cellsInRow = row.cells;

  var r = check_row(rowIndex);
  var c = check_collumn(cellIndex);
  var n1 = check_up(rowIndex, cellIndex);
  var n2 = check_down(rowIndex, cellIndex);
  var n3 = check_left(rowIndex, cellIndex);
  var n4 = check_right(rowIndex, cellIndex);

  //console.log(r, c);
  //console.log(n1, n2, n3, n4);

  return r && c && n1 && n2 && n3 && n4;

  for (const selectedCell of selectedCells) {
    const selectedRowIndex = selectedCell.parentNode.rowIndex;
    const selectedCellIndex = selectedCell.cellIndex;

    if (
      selectedRowIndex === rowIndex || // Ограничение по строке
      selectedCellIndex === cellIndex || // Ограничение по столбцу
      Math.abs(selectedRowIndex - rowIndex) <= 1 || // Ограничение по соседним строкам
      Math.abs(selectedCellIndex - cellIndex) <= 1 // Ограничение по соседним столбцам
    ) {
      return false;
    }
  }
  return true;
}

function check_row(i) {
    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");
    var row = rows[i];
    var cells = row.getElementsByTagName("td");

    var count = 0;

    for (var i = 0; i < cells.length; i++) {
        if (cells[i].classList.contains("selected") || cells[i].classList.contains("selected-even")) {
            count++;
        }
    }

    return count < maxSelection;
}

function check_collumn(j) {
    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");

    var count = 0;

    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName("td");
        if (cells[j].classList.contains("selected") || cells[j].classList.contains("selected-even")) {
            count++;
        }
    }

    return count < maxSelection;
}

function check_up(i, j) {
    if (i == 0)
      return true;

    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");
    var row = rows[i-1];
    var cells = rows[i - 1].getElementsByTagName("td");
    var cell = cells[j];

    if (cell.classList.contains("selected") || cell.classList.contains("selected-even")) {
      return false;
    } else {
      return true;
    }
}

function check_down(i, j) {
    if (i + 1 == document.getElementById("myTable").getElementsByTagName("tr").length)
      return true;

    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");
    var row = rows[i+1];
    var cells = rows[i + 1].getElementsByTagName("td");
    var cell = cells[j];

    if (cell.classList.contains("selected") || cell.classList.contains("selected-even")) {
      return false;
    } else {
      return true;
    }
}

function check_right(i, j) {
    if (j + 1 == document.getElementById("myTable").getElementsByTagName("tr")[i].getElementsByTagName("td").length)
      return true;  

    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");
    var row = rows[i];
    var cells = rows[i].getElementsByTagName("td");
    var cell = cells[j + 1];

    if (cell.classList.contains("selected") || cell.classList.contains("selected-even")) {
      return false;
    } else {
      return true;
    }
}

function check_left(i, j) {
    if (j == 0)
      return true;

    var t = document.getElementById("myTable");
    var rows = t.getElementsByTagName("tr");
    var row = rows[i];
    var cells = rows[i].getElementsByTagName("td");
    var cell = cells[j - 1];

    if (cell.classList.contains("selected") || cell.classList.contains("selected-even")) {
      return false;
    } else {
      return true;
    }
}

// Установить максимальное количество выбранных ячеек
function setMaxSelection() {
  const input = document.getElementById("maxSelection");
  maxSelection = parseInt(input.value, 10);
  resetSelection();
}

// Сбросить выделение
function resetSelection() {
  for (const cell of selectedCells) {
    cell.classList.remove("selected");
    const value = parseInt(cell.innerText, 10);
    if (value % 2 === 0) {
      cell.classList.remove("selected-even");
    }
  }
  selectedCells.clear();
}

// Добавить новый ряд
function addRow() {
  const newRow = table.insertRow(table.rows.length);
  for (let i = 0; i < table.rows[0].cells.length; i++) {
    const cell = newRow.insertCell(i);
    cell.innerText = getRandomNumber();
    cell.addEventListener("click", () => toggleCellSelection(cell));
  }
}

// Добавить новую колонку
function addColumn() {
  for (let i = 0; i < table.rows.length; i++) {
    const cell = table.rows[i].insertCell(table.rows[i].cells.length);
    cell.innerText = getRandomNumber();
    cell.addEventListener("click", () => toggleCellSelection(cell));
  }
}

// Генерировать начальную таблицу при загрузке страницы
generateTable(4);

      </script>

    <script>
        var endTime;
    
        if ("{{is_auth}}" == "False") {
            localStorage.clear();
        } else {
    
        function displayCountdown(endTime) {
          const countdownElement = document.getElementById('countdown');
    
          function updateCountdown() {
            const currentTime = new Date().getTime();
            const timeLeft = endTime - currentTime;
    
            if (timeLeft <= 0) {
              countdownElement.textContent = 'Обратный отсчет завершен';
            } else {
              const hours = Math.floor(timeLeft / 3600000);
              const minutes = Math.floor((timeLeft % 3600000) / 60000);
              const seconds = Math.floor((timeLeft % 60000) / 1000);
    
              countdownElement.textContent = `Осталось ${hours}:${minutes}:${seconds}`;
            }
          }
    
          updateCountdown();
          const intervalId = setInterval(updateCountdown, 1000);
    
          // Сохраняем конечное время в Local Storage
          localStorage.setItem('countdownEndTime', endTime);
    
          // Очищаем интервал при обновлении страницы
          window.onbeforeunload = () => {
            clearInterval(intervalId);
          };
        }
    
        // Проверяем, есть ли сохраненное время в Local Storage
        var savedEndTime = localStorage.getItem('countdownEndTime');
    
        if (savedEndTime) {
            displayCountdown(Number(savedEndTime));
        } else {
          // Если времени нет, создаем новый обратный отсчет на 1 час
          endTime = new Date().getTime() + 3600000; // 1 час в миллисекундах
          displayCountdown(endTime);
        }
    }
        </script>

        <script>
            const buttons = document.querySelectorAll('.button');
buttons.forEach((button) => {
  let target = button.querySelector('.target');
  function handleMove(e) {
    const x = -50 + (e.pageX - button.offsetLeft - 300 / 2) / 3;
    const y = -10 + (e.pageY - button.offsetTop - 100 / 2) / 3;

    target.style.setProperty('--x', `${ x }px`)
    target.style.setProperty('--y', `${ y }px`)
  }
  button.addEventListener('mousemove', (e) => {
    handleMove(e);
  });
  button.addEventListener('touchmove', (e) => {
    handleMove(e.changedTouches[0]);
  });
});
        </script>
        <script>
          
            var out_price = 0;
            var storage = {'Монитор':{'Цена': 1000, 'Количество': 5},
            'Мышка':{'Цена': 400, 'Количество': 25},
            'Клавиатура':{'Цена': 500, 'Количество': 35},
            'Видеокарта':{'Цена': 10000, 'Количество': 3},
            'Процессор':{'Цена': 8000, 'Количество': 2},
            'Материнская плата':{'Цена': 7000, 'Количество': 2},
            'Оперативная память':{'Цена': 1000, 'Количество': 6},
            'Память':{'Цена': 1000, 'Количество': 7}};

            var txt = "";
            for (var key in storage) {
              txt += "Деталь: " + key + ", количество: " + storage[key]["Количество"] + ", цена: " + storage[key]["Цена"] + "\r\n";
            }

            document.getElementById("stock").innerText = txt;

            function checkAvailability() {
                var full_order = document.getElementById("orderInput").value;
                console.log(full_order);
                orders = full_order.split('\n');
                console.log(orders);

                let is_ok = true;
                let error_message;

                orders.forEach(
                    order => {
                        if (is_ok) {
                            var tmp = order.split(', ');

                        if (tmp == null) {
                            is_ok = false;
                            error_message = "Неверный ввод";
                        } 

                        item = order.split(', ')[0];
                        num = order.split(', ')[1];
                        let n = parseInt(num.replace(';', ''));

                        if (storage[item] == null) {
                            is_ok = false;
                            error_message = "Нет предмета " + item;
                            //return;
                        }

                        if (isNaN(n)) {
                            is_ok = false;
                            if (storage[item] != null)  
                              error_message = "Неверное количество предмета " + item;
                            //return;
                        }
                        
                        console.log(item, n, parseInt("d"));

                        if (storage[item]['Количество'] >= n) {
                            out_price += storage[item]['Цена']*n;
                            console.log(storage[item]['Цена']*n);
                        } else {
                            if (is_ok) {
                              is_ok = false;
                              error_message = "Не хватает " + (n - storage[item]['Количество']) + " " + item;
                            }

                        }
                        }
                    }
                );

                span = document.getElementById('output');
                console.log(span);

                if (is_ok) {
                    span.textContent = "Price: " + out_price;
                } else {
                    span.textContent = error_message;
                }

                console.log(storage);
            }

        </script>
        <script src="{% static 'js/class.js' %}"></script>
        <script src="{% static 'js/prototype.js' %}"></script>
{% endblock %}