
{% load static %}

{% block extra_head %}
<meta
    name="description"
    content="Главная страница веб-сайта" />
<meta name="keywords" content="Book, bookshop, shop">
<meta name="author" content="Denis fomichevsjiy">
<link href="{% static 'css/sandbox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal" id="ageModal">
    <div class="modal-content">
        <h2>Проверка возраста</h2>
        <p>Пожалуйста, введите вашу дату рождения:</p>
        <input type="date" id="birthdateInput">
        <button id="checkAgeButton">Проверить возраст</button>
    </div>
</div>
<script>
    
</script>
<section id="sandbox-sect">
    <nav>
      <div class="navigation">
        <div class="userBx">
          <div class="imgBx">
            </div>
          <p class="username"><a href="/">My shop</a></p>
        </div>
        <div class="menuToggle"></div>
        <ul class="menu">
          <li>
            <a href="/about/">О компании</a>
          </li>
          <li>
            <a href="/faq/">Вопросы</a
            >
          </li>
          <li>
            <a href="/workers/">Наши работники</a
            >
          </li>
          <li>
            <a href="/privacy/">Политика конфеденциальности</a>
          </li>
          <li>
            <a href="/main/">Главная</a
            >
          </li>
          <li>
            <a href="/vacancies/">Вакансии</a>
          </li>
          <li>
            <a href="/coupons/">Купоны</a>
          </li>
          <li>
            <a href="/articles/">Статьи</a>
          </li>
          <li>
            <a href="/comments/">Комментарии</a>
          </li>
          <li>
            <a href="/sandbox/">Песочница</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        {%if user.is_authenticated%}
        <div id="countdown"></div>
        {%endif%}
      
      <img src="https://i.ibb.co/rsp6RFJ/bg1.png" class="background" alt="" />
      <!--<img src="/media/vietnam_forest.jpg" class="background" alt="" />-->
      <img src="https://i.ibb.co/237VsHs/girl1.png" class="girl" alt="" />
      <!--<img src="/media/vietcong.png" height="200px" width="100px" class="girl" alt="" />-->
      <img src="https://i.ibb.co/BKtjhV2/rock1.png" class="rock" alt="" />
    </div>
    <div class="content">
      <div class="content-images">
        <div>
          <img src="https://i.ibb.co/w4N157P/haridwar.jpg" alt="" />
          <h4>Haridwar</h4>
          <h3>India</h3>
        </div>
        <div>
          <img src="https://i.ibb.co/v4yCXYS/rishikesh.jpg" alt="" />
          <h4>Rishikesh</h4>
          <h3>India</h3>
        </div>
      </div>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque
        consequuntur a nisi, illo quia cupiditate fuga et eos minima
        voluptatum cum dolorum quas repellat eaque beatae vitae veritatis
        quae.
      </p>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque
        consequuntur a nisi, illo quia cupiditate fuga et eos minima
        voluptatum cum dolorum quas repellat eaque beatae vitae veritatis
        quae.
      </p>
      <div class="custom-table">
        <button onclick="transposeTable()">Транспонировать</button>
  <button onclick="addRow()">Добавить ряд</button>
  <button onclick="addColumn()">Добавить колонку</button>
  <input type="number" id="maxSelection" placeholder="Макс. выбор ячеек">
  <button onclick="setMaxSelection()">Установить макс. выбор</button>
  <input type="number" id="size" placeholder="Макс. выбор ячеек">
  <button onclick="generateTable(-1)">Размер</button>
  <table id="myTable"></table>
        </div>

    <br>
    <br>
    <br>
    Доступные детали:
    <br>
    <p id="stock"></p>
    <br>
    Введите информацию о заказе в формате "%Название детели%, %количество деталей%;"
    <form id="orderForm">
        <label for="orderInput">Информация о заказе:</label>
        <textarea id="orderInput" rows="5" cols="50"></textarea>
        <br>

        <button type="button" onclick="checkAvailability()">Проверить наличие</button>
    </form>
    <span id = "output"></span>

    <br>
    <br>
    <form id="cool-form">
        <label>
            <input type="checkbox" id="changeFontSize"> Изменить размер шрифта
        </label>
        <br>
        <div id="font-cont">
            <label for="font-size">Font size </label>
            <input type="range" id="font-size" name="font-size" min="12" max="24" step="1" />
        </div>
        <label>
            <input type="checkbox" id="changeFontColor"> Изменить цвет текста
        </label>
        <br>
        <div id="font-color-cont">
            <label for="font-color-r">Font color red </label>
            <input type="range" id="font-color-r" name="font-color-r" min="0" max="255" step="1" />
            <br>
            <label for="font-color-g">Font color green </label>
            <input type="range" id="font-color-g" name="font-color-g" min="0" max="255" step="1" />
            <br>
            <label for="font-color-b">Font color blue </label>
            <input type="range" id="font-color-b" name="font-color-b" min="0" max="255" step="1" />
        </div>
        <label id="2">
            <input type="checkbox" id="changeBackgroundColor"> Изменить цвет фона
        </label>
        <br>
        <div id="bg-color">
            <label for="bg-color-r">Bg color red </label>
            <input type="range" id="bg-color-r" name="bg-color-r" min="0" max="255" step="1" />
            <br>
            <label for="bg-color-g">Bg color green </label>
            <input type="range" id="bg-color-g" name="bg-color-g" min="0" max="255" step="1" />
            <br>
            <label for="bg-color-b">Bg color blue </label>
            <input type="range" id="bg-color-b" name="bg-color-b" min="0" max="255" step="1" />
        </div>
      <input type="submit">
    </form>
    <script>
       

    </script>
  </section>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"></script>
    <script src="{% static 'js/sandbox.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <script src="{% static 'js/storage.js' %}"></script>
    <script src="{% static 'js/checkbox.js' %}"></script>
    <script src="{% static 'js/age.js' %}"></script>

    <script>
      window.is_auth = '{{ is_auth }}';
      console.log(window.is_auth);
    </script>
    <script src="{% static 'js/timer.js' %}"></script>



    

        
        
        <script src="{% static 'js/class.js' %}"></script>
        <script src="{% static 'js/prototype.js' %}"></script>
{% endblock %}