{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Комментарии
{% endblock %}
{% block extra_head %}
<meta
    name="description"
    content="Cтраница c комментариями" />
<meta name="keywords" content="Book, bookshop, shop, comment, comments">
<meta name="author" content="Denis fomichevsjiy">
<link href="{% static 'css/create_review.css' %}" rel="stylesheet">
{% endblock %}
{% block content %} 
 
 <section class="review_create-container">
        <h1 class="review_create-label">Оставьте комментарий</h1>
        <form method="POST" enctype="multipart/form-data">
            <!--{{ form.as_p }}-->
            <label for="id_text" class="review_create-label">Text:</label>
            <textarea id="id_text" name="text" class="review_create-text" required></textarea><br>
        
            <label for="id_mark" class="review_create-label">Mark:</label>
            <select id="id_mark" name="mark" class="review_create-mark" required>
                {% for choice in form.mark.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Save" class="review_create_button">
        </form>
        <input type="button" value="back" onclick="history.back()" class="review_create_button"/> 
    </section>

    {% endblock %}