{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Купоны
{% endblock %}
{% block extra_head %}
<meta
    name="description"
    content="Cтраница cо списком купонов" />
<meta name="keywords" content="Book, bookshop, shop, coupons, discount">
<meta name="author" content="Denis fomichevsjiy">
<link href="{% static 'css/coupons.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h1 align="center">Купоны</h1>
<section itemscope itemtype="https://schema.org/Order">
    <section>
        <h2>Активные купоны:</h2>
        <ul>
            {% for coupon in active_coupons %}
            <li class="active-coupons"><p>{{coupon.name}}</p>
                <ul>
                <li><p itemprop="discountCode">{{coupon.code}}</p></li>
                <li><p itemprop="discount"><div class="discount">{{coupon.discount}}%</div></p></li>
            <li><div class="container">
                <div class="colorFill"></div>
              </div></li>    
            </ul>
            </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section >
        <h2>Купоны в архиве:</h2>
        <ul>
            {% for coupon in disabled_coupons %}
                <li class="inactive-coupons"><p><s>{{coupon.name}}</p></h2>
                <ul>
                    <li><p>{{coupon.code}}</p></li>
                    <li><p><div class="discount">{{coupon.discount}}%</div></p></li>
                    <li><div class="container">
                        <div class="colorFill"></div>
                      </div></li>  
                </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
</section>
<script src="{% static 'js/coupons.js' %}"></script>
{% endblock %}