{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Вакансии
{% endblock %}
{% block extra_head %}
<meta
    name="description"
    content="Cтраница cо списком доступных вакансий" />
<meta name="keywords" content="Book, bookshop, shop">
<meta name="author" content="Denis fomichevsjiy">
<link href="{% static 'css/vacancies.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<footer>
    <h1 align="center">Вакансии</h1>
</footer>
<section itemscope itemtype="https://schema.org/JobPosting">
    {% for vacancy in vacancies %}
    <div class="vacancies">
        <h2 itemprop="title" class="vacancy_name">{{vacancy.name}}</h2>
        <p itemprop="description" class="vacancy_description">{{vacancy.description}}</p>
        <p itemprop="baseSalary" class="vacancy_salary"><b>{{vacancy.salary}}</b></p>
    </div>
    {% endfor %}
</section>

{% endblock %}