{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Работники
{% endblock %}
{% block extra_head %}
<meta
    name="description"
    content="Cтраница cо списком работников" />
<meta name="keywords" content="Book, bookshop, shop">
<meta name="author" content="Denis fomichevsjiy">
{% endblock %}
{% block content %}

<footer>
    <h1 align="center" itemprop="page_name">Наши работники</h1>
</footer>
<section itemprop="employee">
    {% for worker in workers %}
        <img src="{{worker.img.url}}">
        <p>Имя: {{worker.worker.first_name}}</p>
        <p>Фамилия: {{worker.worker.last_name}}</p>
        <p>Дата рождения: {{worker.worker.date_of_birth}}</p>
        <p>Почта: {{worker.worker.email}}</p>
        <p>Телефон: {{worker.worker.phone_number}}</p>
        <p>Должность: {{worker.description}}</p>
        <hr/>
    {% endfor %}
</section>

{% endblock %}